
@{
    Layout = "_Layout";
    ViewData["Title"] = "Our Story";

}

<link href="~/CssByDem/CssMainPage.css" rel="stylesheet" />
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="bg-white">
            <div class="container-fluid">

                <div class="row dis-flex">
                    <div class="row text-center">

                        <h1>Every idea needs a <b>Medium.</b></h1>

                    </div>
                    <hr />
                    <div class="row">

                        <div class="col-6 text-center justify-content-evenly">
                            <h4>
                                The best ideas can change who we are. Medium is where those ideas take shape, take off, and spark powerful conversations. We’re an open platform where 1 reader come to find insightful and dynamic thinking. Here, expert and undiscovered voices alike dive into the heart of any topic and bring new ideas to the surface. Our purpose is to spread these ideas and deepen understanding of the world.

                                We’re creating a new model for digital publishing. One that supports nuance, complexity, and vital storytelling without giving in to the incentives of advertising. It’s an environment that’s open to everyone but promotes substance and authenticity. And it’s where deeper connections forged between readers and writers can lead to discovery and growth. Together with millions of collaborators, we’re building a trusted and vibrant ecosystem fueled by important ideas and the people who think about them.
                            </h4>

                        </div>
                        <div class="col-6 text-center justify-content-center my-auto">
                            <iframe src="https://player.vimeo.com/video/467834328?api=1&amp;background=1&amp;mute=1&amp;loop=1" style="width:500px; height:500px;" positioning="relative" frameborder="0" allow="autoplay fullscreen" allowfullscreen=""></iframe>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="OurStoryFlexbyDem">
            <div class="col mobile-hide no-padding _50">
                <div class="marketing-image-wrap">
                    <div class="footer-animation w-embed w-iframe"><iframe src="https://player.vimeo.com/video/448735219?api=1&amp;background=1&amp;mute=1&amp;loop=1" style="height:200px;" positioning="relative" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe></div>
                </div>
            </div>
            <div class="col bifold border-line">
                <div class="bifold-header-wrap bottom-padding">
                    <h1 class="header-1-alt1">Read, write, and expand your world.</h1>
                </div>
                <a href="https://medium.com/m/signin?source=about_page---footer_cta-----------------------about_page_footer_cta-&amp;utm_source=about&amp;utm_medium=landing-page&amp;utm_campaign=signin&amp;utm_content=module" class="button-style green inner mobile li-redirect w-inline-block">
                    <div class="button _2 li-redirect">
                        <div class="button-text-2">Get started</div>
                    </div>
                </a>
                <link rel="prefetch" href="https://medium.com/m/signin?source=about_page---footer_cta-----------------------about_page_footer_cta-&amp;utm_source=about&amp;utm_medium=landing-page&amp;utm_campaign=signin&amp;utm_content=module">
            </div>
        </div>
    </div>
<div class="col-2"></div>
</div>